<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar (@ViewBag.LoggedStatus)</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="~/Home">
                        Etusivu
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="~/Home/About">Tietoa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Map">Kartta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Contact">Yhteystiedot</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pudotusvalikko</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="~/Tuotteet/Index">Tuotteet</a>
                        <a class="dropdown-item" href="~/Tuotteet/TuoteKuvat">Tuotekuvat</a>
                        <a class="dropdown-item" href="~/Asiakkaat/Index">Asiakkaat</a>
                        <a class="dropdown-item" href="~/Home/Map">Kartta</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="~/Home/Contact">Yhteystiedot</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="~/Home/Logout">Logout<span class="sr-only">(current)</span></a>
                </li>
            </ul>

        </div>
    </div>
</nav>
