@{
    <br />
    ViewBag.Title = "Tietoa näistä sivuista";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tämä on koulun harjoitus projekti ASP.NET MVC - tekniikalla.</p>
<br />
<p>Oma kuva:</p>
<img style="height: 200px; width:150px; display:block;" src="https://www.mikatiihonen.com/wp-content/uploads/2019/12/mika.jpg;" alt="oma kuva" />
