@{
    <br />
    ViewBag.Title = "Tietoa näistä sivuista";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tämä on koulun harjoitusprojekti ASP.NET MVC - tekniikalla. ASP.NET MVC jatkokurssi (27.8.2021 - 6.10.2021) jatkaa sivujen kehittämistä. </p>
<br />
<p>Oma kuva:</p>
<img style="height: 200px; width:150px; display:block;" src="https://www.mikatiihonen.com/wp-content/uploads/2019/12/mika.jpg;" alt="oma kuva" />
