@{
    <br />
    ViewBag.Title = "Tietoa näistä sivuista";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tämä on koulun harjoitus projekti ASP.NET MVC - tekniikalla. Nämä sivut ovat testisivut.</p>
