@{
    <br />
    ViewBag.Title = "Yhteystiedot";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />
<h4>Osoite:</h4>
<address>
    Kanneltie 9 a 5<br />
    00420 Helsinki<br />
    <abbr title="Phone">GSM:</abbr>
    044 9432369
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:koneautomaatio@hotmail.com">koneautomaatiot@hotmail.com</a><br />
    <strong>Email koulu:</strong> <a href="mailto:mika.tiihonen@student.careeria.fi">mika.tiihonen@student.careeria.fi</a>
</address>