@{
    <br />
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:navy;">TilausDB</h1>
    <br />
    <p class="lead">ASP.NET on ilmainen verkkokehys upeiden verkkosivustojen ja verkkosovellusten rakentamiseen HTML: ää, CSS: ää ja JavaScriptiä käyttäen.</p>
    <p>ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg" target="_blank">Lue lisää &raquo;</a></p>*@
    <a href="https://asp.net" target="_blank"><button type="button" class="btn btn-outline-primary">Lue lisää</button></a>
</div>

<br />
<div class="row">
    <div class="col-md-4">
        <h2>Bootswatch</h2>
        <p>
            Näillä sivuilla käytetään Bootswatch css määrityksiä ja Bootstrap 4.6 versiota.
            Bootswatch Lux teemaa. Bootswatch on avoimen lähdekoodin projekti, ja voit muokata
            värimalleja edelleen tai luoda omia.
        </p>
        <p><a class="btn btn-default" href="https://bootswatch.com/lux/" target="_blank"><button type="button" class="btn btn-outline-secondary">Lue lisää &raquo;</button></a></p>
    </div>
    <div class="col-md-4">
        <h2>ASP.NET Aloitus</h2>
        <p>
            ASP.NET MVC tarjoaa sinulle tehokkaan, mallipohjaisen tavan luoda dynaamisia verkkosivustoja,
            jotka mahdollistavat huolellisen erottelun ja antavat sinulle täyden hallinnan merkinnöistä
            nautinnolliseen ja ketterään kehitykseen.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865" target="_blank"><button type="button" class="btn btn-outline-secondary">Lue lisää &raquo;</button></a></p>
    </div>
    <div class="col-md-4">
        <h2>Hanki lisää kirjastoja</h2>
        <p>NuGet on ilmainen Visual Studio -laajennus, joka helpottaa kirjastojen ja työkalujen lisäämistä, poistamista ja päivittämistä Visual Studio -projekteissa.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866" target="_blank"><button type="button" class="btn btn-outline-secondary">Lue lisää &raquo;</button></a></p>
    </div>
    <div class="col-md-4">
        <h2>SIVUJEN YLLÄPITO</h2>
        <p>Löydät helposti web-hosting-yrityksen, joka tarjoaa oikean yhdistelmän ominaisuuksia ja hintaa sovelluksillesi.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867" target="_blank"><button type="button" class="btn btn-outline-secondary">Lue lisää &raquo;</button></a></p>
    </div>
</div>